<div ng-controller="MainCtrl">
<div ng-init="checkLogin();"></div>

<div class="header" ng-cloak>
    <div class="container" ng-init="initDreambeem();">
        <a class="navbar-brand pull-left" href="/"><img src="images/db_logo.png"></a>
        <div layout="row" layout-wrap layout-align="start" flex id="status" ng-cloak>
            <div class="center-block m-t" flex="20" flex-md="33" flex-sm="33" flex-xs="100">
                <md-icon class="pull-left" md-svg-src="amount24" class="material-icons"></md-icon>
                <span class="pull-left">Guthaben: </span>
                <strong id="walletEuro">{{walletEuro}}</strong>
            </div>
            <div class="center-block m-t" flex="20" flex-md="33" flex-sm="33" flex-xs="100">
                <md-icon class="pull-left" md-svg-src="dreamsWallet24" class="material-icons"></md-icon>
                <span class="pull-left">Dreams Guthaben: </span>
                <strong id="walletDreams">{{walletDreams}}</strong>
            </div>
            <div class="center-block m-t" flex="20" flex-md="33" flex-sm="33" flex-xs="100">
                <md-icon class="pull-left" md-svg-src="dreambeem24" class="material-icons"></md-icon>
                <span class="pull-left">Dreambeems: </span>
                <strong id="dreambeems">{{dreambeems}}</strong>
            </div>
            <div class="center-block m-t" flex="20" flex-md="33" flex-sm="33" flex-xs="100">
                <md-icon class="pull-left" md-svg-src="furnybeem24" class="material-icons"></md-icon>
                <span class="pull-left">Furnybeems: </span>
                <strong id="furnybeems">{{furnybeems}}</strong>
            </div>
            <div class="center-block m-t" flex="20" flex-md="33" flex-sm="33" flex-xs="100">
                <md-icon class="pull-left" md-svg-src="productbeem24" class="material-icons"></md-icon>
                <span class="pull-left">Productbeems: </span>
                <strong id="productbeems">{{productbeems}}</strong>
            </div>
        </div>
        <div layout="row" layout-wrap layout-align="start" flex id="sidenavs" ng-cloak>
            <div class="center-block m-t" flex="20" flex-md="33" flex-sm="33" flex-xs="100">
                <div class="pull-left m-icon-standard">
                    <md-icon md-svg-src="menu24" class="material-icons"></md-icon>
                </div>
                <div class="pull-left">
                    <md-button ng-click="toggleMenuLeft()" class="md-raised">
                        Kundenmenu
                    </md-button>
                </div>
                <div id="info-tooltip-kundenmenu" class="pull-left m-icon-standard">
                    <md-tooltip md-direction="bottom" flex="100" flex-md="100" flex-sm="100" flex-xs="100">
                        Hier finden Sie Ihr Kundenmenu - beinhaltet<br>
                        z.B. <strong>Kundendaten</strong>,<strong>Bestellungen</strong>,<br>
                        <strong>Rechnungen</strong>,<strong>Merkliste</strong> und <strong>Analytics</strong>
                    </md-tooltip>
                    <md-icon md-svg-src="tooltip24" class="material-icons"></md-icon>
                </div>
            </div>
            <div class="center-block m-t" flex="20" flex-md="33" flex-sm="33" flex-xs="100">
                <div class="pull-left m-icon-standard">
                    <md-icon md-svg-src="dreambeem24" class="material-icons"></md-icon>
                </div>
                <div class="pull-left">
                    <md-button ng-click="toggleDreambeemLeft()" class="md-raised">
                        Dreambeem
                    </md-button>
                </div>
                <div class="pull-left m-icon-standard">
                    <md-tooltip md-direction="bottom" flex="100" flex-md="100" flex-sm="100" flex-xs="100">
                        Veröffentlichen Sie Ihre Träume im Beem - Network.<br>
                        Falls innerhalb einer Stunde jemand<br>
                        auf Ihren Dream klickt,<br>
                        erhalten Sie <strong>2 Dreams Guthaben</strong>,<br>
                        womit Sie Furnybeems (soziale Medien - Facebook &<br>
                        Twitter) und Productbeems (Beem - Network)<br>
                        eintauschen können.
                    </md-tooltip>
                    <md-icon md-svg-src="tooltip24" class="material-icons"></md-icon>
                </div>
            </div>
            <div class="center-block m-t" flex="20" flex-md="33" flex-sm="33" flex-xs="100">
                <div class="pull-left m-icon-standard">
                    <md-icon md-svg-src="furnybeem24" class="material-icons md-48"></md-icon>
                </div>
                <div class="pull-left">
                    <md-button ng-click="toggleFurnybeemLeft()" class="md-raised">
                        Furnybeem
                    </md-button>
                </div>
                <div class="pull-left m-icon-standard">
                    <md-tooltip md-direction="bottom" flex="100" flex-md="100" flex-sm="100" flex-xs="100">
                        Ein Furnybeem wird durch die verbundenen User<br>
                        von Dreambeem.com in den<br>
                        sozialen Medien veröffentlicht.<br>
                        Preis: 10 Dreams Guthaben oder 0,004 €<br>
                        pro Facebook - User und 0,003 € <br>
                        pro Twitter - Follower (bedenken Sie ein<br>
                        User ist z.B. über Facebook<br>
                        mit hunderten Usern vernetzt!).
                    </md-tooltip>
                    <md-icon md-svg-src="tooltip24" class="material-icons"></md-icon>
                </div>
            </div>
            <div class="center-block m-t" flex="20" flex-md="33" flex-sm="33" flex-xs="100">
                <div class="pull-left center-block">
                    <md-icon md-svg-src="beemline24"></md-icon>
                    <md-button ng-click="beemline()" class="md-raised">
                        Beem - Line
                    </md-button>
                </div>
            </div>
            <div class="center-block m-t" flex="20" flex-md="33" flex-sm="33" flex-xs="100">
                <div class="pull-left m-icon-standard">
                    <md-icon md-svg-src="shoppingcart24" ng-mouseover="hoverIn();" class="material-icons"></md-icon>
                    <span>345</span>
                </div>
                <div class="pull-left m-icon-standard">
                    <div ng-if="newStatusMessages">
                        <md-icon ng-mouseover="hoverIn();" ng-mouseleave="hoverOut();" md-svg-src="info24" class="material-icons"></md-icon>
                        <span id="notificationCount">{{notificationsCount}}</span>
                        <!-- hide-md hide-sm show-gt-md -->
                        <md-tooltip md-direction="bottom" flex="100" flex-md="100" flex-sm="100" flex-xs="100" hide-xs>
                            <div ng-repeat="notification in notifications">
                                <md-icon md-svg-src="{{notification.icon}}" class="md-info-icon"></md-icon>
                                <span>{{notification.notification}}</span><br>
                            </div>
                        </md-tooltip>
                    </div>
                    <div ng-if="!newStatusMessages">
                        <span md-colors="{color:'primary'}">Keine Status - Meldungen</span>
                    </div>
                </div>
            </div>
            <!-- <div class="center-block m-t" flex="25" flex-md="50" flex-sm="50" flex-xs="100">
                <div class="pull-left m-icon-standard">
                    <md-icon md-svg-src="bower_components/material-design-icons/communication/svg/production/ic_business_48px.svg" class="material-icons md-48"></md-icon>
                </div>
                <div class="pull-left">
                    <md-button ng-click="toggleProductbeemLeft()" class="md-raised">
                        Productbeem
                    </md-button>
                </div>
                <div class="pull-left m-icon-standard">
                    <md-tooltip md-direction="top" hide-md hide-sm show-gt-md>
                        Ein Productbeem - Post wird nur im Bemm - Network angezeigt - z.B. eine Produktanfrage oder Werbung für ein neues Produkt.
                        Preis: 10 Dreams Guthaben oder Festpreis von 2,50 €.
                    </md-tooltip>
                    <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_help_outline_24px.svg" class="material-icons md-48"></md-icon>
                </div>
            </div> -->
        </div>
    </div>
</div>

<md-sidenav class="md-sidenav-left beemline-nav-width" md-component-id="Beemline"
            md-whiteframe="4" ng-init="initBeemline();" ng-cloak>

    <md-toolbar class="md-theme-indigo md-padding">
        <md-icon md-svg-src="beemline24" class="material-icons md-24"></md-icon>
        <h1 class="md-toolbar-tools">Beem - Line</h1>
    </md-toolbar>

    <md-content class="md-padding">
        <div layout="row" layout-wrap layout-align="start" flex>
            <div class="m-t" flex="100" flex-md="100" flex-sm="100" flex-xs="100">
                <span></span>

                <div id="info-tooltip-beemline">
                    <!-- <md-tooltip md-direction="top">

                    </md-tooltip> -->
                    <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_info_outline_48px.svg" class="material-icons md-48"></md-icon>
                </div>

            </div>

            <md-button ng-click="toggleBeemlineLeft()" class="md-raised">
                Beemline schließen
            </md-button>
        </div>
    </md-content>

</md-sidenav>

<md-sidenav class="md-sidenav-left" md-component-id="MenuLeft"
            md-whiteframe="4" ng-cloak>

    <md-toolbar class="md-theme-indigo md-padding">
        <md-icon md-svg-src="bower_components/material-design-icons/image/svg/production/ic_dehaze_48px.svg" class="material-icons md-48"></md-icon>
        <h1 class="md-toolbar-tools pull-left">Kundenmenu</h1>
    </md-toolbar>

    <md-list class="md-padding">
        <md-list-item id="menu-list-item">
            <a href="/customer">
                <md-icon class="pull-left" md-svg-src="bower_components/material-design-icons/action/svg/production/ic_account_box_48px.svg" class="material-icons md-48"></md-icon>
                    <span class="pull-left">
                        Kundendaten
                    </span>
            </a>
        </md-list-item>
        <md-list-item id="menu-list-item">
            <a href="/orders">
                <md-icon class="pull-left" md-svg-src="bower_components/material-design-icons/action/svg/production/ic_chrome_reader_mode_48px.svg" class="material-icons md-48"></md-icon>
                    <span class="pull-left">
                        Bestellungen
                    </span>
            </a>
        </md-list-item>
        <md-list-item id="menu-list-item">
            <a href="/bills">
                <md-icon class="pull-left" md-svg-src="bower_components/material-design-icons/action/svg/production/ic_account_balance_48px.svg" class="material-icons md-48"></md-icon>
                    <span class="pull-left">
                        Rechnungen
                    </span>
            </a>
        </md-list-item>
        <md-list-item id="menu-list-item">
            <a href="/wishlist">
                <md-icon class="pull-left" md-svg-src="bower_components/material-design-icons/action/svg/production/ic_favorite_border_48px.svg" class="material-icons md-48"></md-icon>
                    <span class="pull-left">
                        Merkliste
                    </span>
            </a>
        </md-list-item>
        <md-list-item id="menu-list-item">
            <a href="/messages">
                <md-icon class="pull-left" md-svg-src="bower_components/material-design-icons/communication/svg/production/ic_mail_outline_48px.svg" class="material-icons md-48"></md-icon>
                    <span class="pull-left">
                        Nachrichten
                    </span>
            </a>
        </md-list-item>
        <md-list-item id="menu-list-item">
            <a href="/settings">
                <md-icon class="pull-left" md-svg-src="setting24" class="material-icons md-48"></md-icon>
                    <span class="pull-left">
                        Einstellungen
                    </span>
            </a>
        </md-list-item>
        <md-list-item id="menu-list-item">
            <a href="/analytics">
                <md-icon class="pull-left" md-svg-src="beemline24" class="material-icons md-48"></md-icon>
                    <span class="pull-left">
                        Analytics
                    </span>
            </a>
        </md-list-item>
    </md-list>
    <div class="md-padding">
        <md-button ng-click="toggleMenuLeft()" class="md-raised">
            Menu schließen
        </md-button>
    </div>
</md-sidenav>

<md-sidenav class="md-sidenav-left dreambeem-nav-width" md-component-id="DreambeemLeft"
            md-whiteframe="4" ng-cloak>


    <md-toolbar class="md-theme-indigo md-padding">
        <md-icon md-svg-src="dreambeem24" class="material-icons"></md-icon>
        <h1 class="md-toolbar-tools">Dreambeem</h1>
    </md-toolbar>

    <md-content class="md-padding">
        <div layout="row" layout-wrap layout-align="start" flex>
            <div class="m-t" flex="100" flex-md="100" flex-sm="100" flex-xs="100">
                <span>Wovon träumen Sie? Einfach einen Link und den dazugehörigen Text eingeben und losbeemen.</span>

                <div id="info-tooltip-dreambeem">
                    <md-tooltip md-direction="top">
                        Wenn innerhalb einer Stunde jemand im Beem - Network nach der "Beem - Action" auf den Link klickt, erhalten Sie <strong>2 Dreams Guthaben</strong>.
                    </md-tooltip>
                    <md-icon md-svg-src="information24" class="material-icons"></md-icon>
                </div>

                <form name="dreambeemForm" ng-submit="submitDreambeem()" novalidate>
                    <div layout="row" layout-align="start" class="p-t" flex>
                        <md-input-container flex="100">
                            <label>Dream - Link (http://www.dreambeem.com)</label>
                            <input type="text" id="dreambeemlink" name="dreambeemlink" ng-model="dreambeemlink" ng-pattern="regexUrl" required>
                            <div ng-messages="dreambeemForm.dreambeemlink.$error">
                                <div ng-message="required">Benötigt</div>
                            </div>
                            Url ok? <code ng-model="url" ng-if="dreambeemForm.dreambeemlink.$valid">{{url}}</code>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="start" class="p-t" flex>
                        <md-input-container flex="100">
                            <label>Dream - Text</label>
                            <input type="text" name="dreambeemtext" ng-keypress="d_limitKeypress($event,dreambeemtext,80)" ng-model="dreambeemtext" ng-maxlength="80" required>
                            <span><strong>{{d_kCount}}</strong> Zeichen</span>
                            <span>Maximal <strong>80 Zeichen</strong></span>
                            <div class="errors" ng-messages="dreambeemForm.dreambeemtext.$error">
                                <div ng-message="required">Benötigt</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="row" layout-align="start" flex>
                        <md-input-container flex="100">
                            <no-captcha
                                    expired-callback="expiredCallback"
                                    g-recaptcha-response="d_gRecaptchaResponse"
                                    theme='light'
                                    control="noCaptchaControl"
                                    site-key="6LctYBcUAAAAAOvrNz-6Xi_coZsWU8oGgQFfsnoq" required>
                            </no-captcha>
                            <input type="hidden" name="dcaptcha" id="dcaptcha" ng-model="dcaptcha" ng-if="!d_gRecaptchaResponse" required>
                        </md-input-container>
                    </div>

                    <div layout="row" layout-align="end" flex>
                        <md-button type="submit" ng-disabled="dreambeemForm.$invalid" class="md-button md-raised md-warn">
                            Beemen
                        </md-button>
                    </div>
                </form>
            </div>

            <md-button ng-click="toggleDreambeemLeft()" class="md-raised">
                Dreambeem schließen
            </md-button>
        </div>
    </md-content>

</md-sidenav>

<md-sidenav class="md-sidenav-left furnybeem-nav-width" md-component-id="FurnybeemLeft"
            md-disable-backdrop md-whiteframe="4" ng-init="initFurnybeem();" ng-cloak>

    <md-toolbar style="padding-left: 16px" class="md-theme-indigo">
        <md-icon md-svg-src="furnybeem24" class="material-icons"></md-icon>
        <h1 class="md-toolbar-tools">Furnybeem</h1>
    </md-toolbar>

    <md-content style="padding: 16px;">
        <div layout="row" layout-wrap layout-align="start" flex>
            <div class="m-t" flex="100" flex-md="100" flex-sm="100" flex-xs="100">
                <span>Tief in die sozialen Medien eindringen! "Neu" klicken, Link, Text und Reichweite wählen und losbeemen!</span>

                <div id="info-tooltip-furnybeem">
                    <md-tooltip md-direction="top">
                        Sie erreichen mit einem Furnybeem eine Zahl an Personen im Facebook oder Twitter Netzwerk. Facebook - Person * 0,004 €, Twitter - Person * 0,003 €
                    </md-tooltip>
                    <md-icon md-svg-src="information24" class="material-icons"></md-icon>
                </div>

                <div layout="row" layout-align="left" flex>
                    <md-button ng-click="resetFurnybeem()" class="md-button md-raised md-warn">
                        Neu
                    </md-button>
                </div>

                <form name="furnybeemForm" ng-submit="submitFurnybeem($event,fb_user_de,fb_user_at,fb_user_ch,
                    fb_user_all_reach,tw_user_de,tw_user_at,tw_user_ch,tw_user_all_reach,furnybeemlink,
                    furnybeemtext,fb_user_chose_de,fb_user_chose_at,fb_user_chose_ch,fb_user_chose_all,
                    furnybeem_fb_price,tw_user_chose_de,tw_user_chose_at,tw_user_chose_ch,tw_user_chose_all,
                    reach_all,furnybeem_tw_price,furnybeem_all_price)" novalidate ng-controller="MainCtrl">
                    <div layout="row" class="p" layout-align="start" flex>
                        <md-input-container flex="50">
                            <img src="images/Fb_reach.png">
                            <div>
                                <flag country="de" size="16"></flag>
                                <span>Reichweite: {{fb_user_de}}</span>
                            </div>
                            <div>
                                <flag country="at" size="16"></flag>
                                <span>Reichweite: {{fb_user_at}}</span>
                            </div>
                            <div>
                                <flag country="ch" size="16"></flag>
                                <span>Reichweite: {{fb_user_ch}}</span>
                            </div>
                            <div>
                                <md-icon md-svg-src="allReach24" class="material-icons md-48"></md-icon>
                                <span>Reichweite: <strong>{{fb_user_all_reach}}</strong></span>
                            </div>
                            <div>
                                <md-icon md-svg-src="allReach24" class="material-icons md-48"></md-icon>
                                <span>Rechweite übrig: <strong md-colors="{color:'warn'}">{{fb_user_all_left}}</strong></span>
                            </div>
                        </md-input-container>
                        <md-input-container flex="50">
                            <img src="images/twitter.jpg">
                            <div>
                                <flag country="de" size="16"></flag>
                                <span>Reichweite: {{tw_user_de}}</span>
                            </div>
                            <div>
                                <flag country="at" size="16"></flag>
                                <span>Reichweite: {{tw_user_at}}</span>
                            </div>
                            <div>
                                <flag country="ch" size="16"></flag>
                                <span>Reichweite: {{tw_user_ch}}</span>
                            </div>
                            <div>
                                <md-icon md-svg-src="allReach24" class="material-icons md-48"></md-icon>
                                <span>Reichweite: <strong>{{tw_user_all_reach}}</strong></span>
                            </div>
                            <div>
                                <md-icon md-svg-src="allReach24" class="material-icons md-48"></md-icon>
                                <span>Rechweite übrig: <strong md-colors="{color:'warn'}">{{tw_user_all_left}}</strong></span>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" class="p" layout-align="start" flex>
                        <span>Zuerst Reichweite in sozialem Netzwerk wählen, danach Land bestimmen.</span>
                    </div>
                    <div layout="row" layout-align="start" flex>
                        <md-input-container flex="25">
                            <label>Facebook</label>
                            <input type="text" id="fb_user_all" name="fb_user_all" ng-model="fb_user_all" required>
                            <div ng-messages="furnybeemForm.fb_user_all.$error">
                                <div ng-message="required">Benötigt</div>
                            </div>
                            <!-- <div id="info-tooltip-fb_user">
                                <md-tooltip md-direction="top">
                                    Die Facebook - Reichweite bestimmt, wieviele Facebook - User durch Ihren Furnybeem erreicht werden.
                                </md-tooltip>
                                <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_info_outline_48px.svg" class="material-icons md-48"></md-icon>
                            </div> -->
                        </md-input-container>
                        <md-input-container flex="25">
                            <label>Land</label>
                            <md-select name="fb_country" ng-change="changeSelectedFbReach($event)" ng-model="fb_country" required>
                                <md-option value="de">Deutschland</md-option>
                                <md-option value="aut">Österreich</md-option>
                                <md-option value="sui">Schweiz</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex="25">
                            <label>Twitter</label>
                            <input type="text" id="tw_user_all" name="tw_user_all" ng-model="tw_user_all" required>
                            <div ng-messages="furnybeemForm.tw_user_all.$error">
                                <div ng-message="required">Benötigt</div>
                            </div>
                            <!-- <div id="info-tooltip-tw_user">
                                <md-tooltip md-direction="top">
                                    Die Twitter - Reichweite bestimmt, wieviele Twitter - Follower durch Ihren Furnybeem erreicht werden.
                                </md-tooltip>
                                <md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_info_outline_48px.svg" class="material-icons md-48"></md-icon>
                            </div> -->
                        </md-input-container>
                        <md-input-container flex="25">
                            <label>Land</label>
                            <md-select name="tw_country" ng-change="changeSelectedTwReach($event)" ng-model="tw_country" required>
                                <md-option value="de">Deutschland</md-option>
                                <md-option value="aut">Österreich</md-option>
                                <md-option value="sui">Schweiz</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="start" flex>
                        <md-input-container flex="100">
                            <label>Furny - Link (http://www.dreambeem.com)</label>
                            <input type="text" id="furnybeemlink" name="furnybeemlink" ng-model="furnybeemlink" ng-pattern="regexUrl" required>
                            <div ng-messages="furnybeemForm.furnybeemlink.$error">
                                <div ng-message="required">Benötigt</div>
                            </div>
                            Url ok? <code ng-model="url" ng-if="furnybeemForm.furnybeemlink.$valid">{{url}}</code><br>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="start" class="p-t" flex>
                        <md-input-container flex="100">
                            <label>Furny - Text</label>
                            <input type="text" name="furnybeemtext" ng-model="furnybeemtext" ng-keydown="f_limitKeypress($event,furnybeemtext,80)" ng-maxlength="80" required>
                            <span><strong>{{f_kCount}}</strong> Zeichen</span>
                            <span>maximal <strong>80 Zeichen</strong></span>
                            <div class="errors" ng-messages="furnybeemForm.furnybeemtext.$error">
                                <div ng-message="required">Benötigt</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="start">
                        <div><span>Gewählte Reichweite Facebook <flag country="de" size="16"></flag> {{fb_user_chose_de}}<br>
                            Gewählte Reichweite Facebook <flag country="at" size="16"></flag> {{fb_user_chose_at}}<br>
                            Gewählte Reichweite Facebook <flag country="ch" size="16"></flag> {{fb_user_chose_ch}}<br>
                            <md-icon md-svg-src="allReach24" class="material-icons md-48"></md-icon> Gesamte Reichweite für Facebook <strong>{{fb_user_chose_all}}</strong><br>
                            <md-icon md-svg-src="furnybeemAmount24" class="material-icons md-48"></md-icon>Preis für Facebook - Reichweite <strong>{{furnybeem_fb_price}}</strong><br>
                           Gewählte Reichweite Twitter <flag country="de" size="16"></flag> {{tw_user_chose_de}}<br>
                            Gewählte Reichweite Twitter<flag country="at" size="16"></flag> {{tw_user_chose_at}}<br>
                        Gewählte Reichweite Twitter<flag country="ch" size="16"></flag> {{tw_user_chose_ch}}<br>
                        <md-icon md-svg-src="allReach24" class="material-icons md-48"></md-icon>Gesamte Reichweite für Twitter <strong>{{tw_user_chose_all}}</strong><br>
                                <md-icon md-svg-src="allReach24" class="material-icons md-48"></md-icon>Gesamte Reichweite für Furnybeem <strong>{{reach_all}}</strong><br>
                        <md-icon md-svg-src="furnybeemAmount24" class="material-icons md-48"></md-icon>Preis für Twitter - Reichweite <strong>{{furnybeem_tw_price}}</strong><br>
                            <md-icon md-svg-src="amount24" class="material-icons md-48"></md-icon>Gesamtpreis für Furnybeem <strong>{{furnybeem_all_price}}</strong><br></span>


                        </div>
                    </div>

                    <div layout="row" layout-align="start" flex>
                        <md-input-container flex="100">
                            <no-captcha
                                    expired-callback="expiredCallback"
                                    g-recaptcha-response="f_gRecaptchaResponse"
                                    theme='light'
                                    control="noCaptchaControl"
                                    site-key="6LctYBcUAAAAAOvrNz-6Xi_coZsWU8oGgQFfsnoq">
                            </no-captcha>
                            <input type="hidden" name="fcaptcha" id="fcaptcha" ng-model="fcaptcha" ng-if="!f_gRecaptchaResponse" required>
                        </md-input-container>
                    </div>

                    <div layout="row" layout-align="end" flex>
                        <md-button type="submit" ng-disabled="furnybeemForm.$invalid" class="md-button md-raised md-warn">
                            Beemen
                        </md-button>
                    </div>

                </form>
            </div>

            <md-button ng-click="toggleFurnybeemLeft()" class="md-raised">
                Furnybeem schließen
            </md-button>
        </div>
    </md-content>

</md-sidenav></div>
