<div ng-controller="MainCtrl">
    <div ng-init="checkLogin();"></div>

    <div ng-include="'views/document/customerheader.html'"></div>

    <div ng-include="'views/sidenavs/customermenu.html'"></div>

    <div ng-include="'views/sidenavs/dreambeem.html'"></div>

    <div ng-include="'views/sidenavs/furnybeem.html'"></div>

    <div class="spinner" ng-show="loading">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

        <md-content layout-padding>
            <h2>
                <strong>
                    Dreams Guthaben
                </strong>
            </h2>

            <p>
                Mit <strong>Dreams Guthaben</strong> kannst Du Rabatte für Dream - Products, Rabatte für Dream - Events, Reichweite in den sozialen Medien, Reichweite im Beem - Network bekommen.<br>
                <strong>Dreams Guthaben</strong> erreichst Du, wenn Du auf die Links von Dreambeem (Posting) klickst oder Dreamshares (Posting in den sozialen Medien) bestätigst.<br>
                Du erhälst <strong>drei Dreams Guthaben</strong> für einen Dreambeem und <strong>zwei Dreams Guthaben</strong> für einen bestätigten Dreamshare.<br><br>

                Somit ist es nicht schwer, sich kostengünstig mit <strong>Dreambeem.com</strong> die schönsten Dinge zu verdienen. Habt viel Vergnügen beim ausgeben der <strong>Dreams</strong>!
            </p>
        </md-content>
