<div ng-controller="MainCtrl">
    <div ng-init="checkLogin();"></div>

    <div ng-include="'views/document/customerheader.html'"></div>

    <div ng-include="'views/sidenavs/customermenu.html'"></div>

    <div ng-include="'views/sidenavs/dreambeem.html'"></div>

    <div ng-include="'views/sidenavs/furnybeem.html'"></div>

    <div class="spinner" ng-show="loading">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<md-content layout-padding>
    <h2>
        <strong>
            FAQ
        </strong>
    </h2>


    <h4>
        <strong>
            1. Was ist der Webservice Dreambeem.com?
        </strong>
    </h4>
    <p>
        Dreambeem.com vereint den Community - Gedanken mit den sozialen Medien,
        wie Twitter und Facebook. Du kannst Dich per Twitter oder Facebook einloggen und
        Dir stehen des anderen Users soziale Reichweite zur Verfügung. Du kannst Deine Beem - Line (Timeline)
        individuell einstellen, so dass Du Deine persönlich gefilterten Informationen erhälst. Aktuelle Nachrichten und Produkte kannst Du über Dreambeem posten.
        Erstelle Dein Lager aus dem Produkt - Portfolio von über 3,4 Mio. Produkten, setze Deinen Preis fest und verkaufe...
    </p>
    <h4>
        <strong>
            2. Was ist Dreambeem?
        </strong>
    </h4>
    <p>
        Dreambeem ist das Herzstück vom Service Dreambeem.com. Durch einen Dreambeem lassen sich Dreams Guthaben verdienen,
        die man mit Dreamshare ausgeben kann. Jeder Dreambeem muss lediglich bestätigt werden.
    </p>
    <h4>
        <strong>
            3. Was ist Dreamshare?
        </strong>
    </h4>
    <p>
        Dreamshare ermöglicht Dir tief in die sozialen Medien einzudringen.
        Durch einen Dreamshare kannst Du sehr viele Menschen über Twitter oder Facebook erreichen,
        sowie durch Dreambeem.com. Die Community - User müssen bestätigen - per Email oder Beem - Line.
    </p>
    <h4>
        <strong>
            4. Was ist Beemline?
        </strong>
    </h4>
    <p>
        Die Beemline von Dreambeem.com ist einzigartig. Sie bietet die Möglichkeit
        individuell Einstellungen per Schlagwörter vorzunehmen. Es werden Dreambeems und Dramshares angezeigt, sowie Ebay - Produkte und Dreams - Menschen.
    </p>
    <h4>
        <strong>
            5. Was ist Dreams Guthaben?
        </strong>
    </h4>
    <p>
        Mit <strong>Dreams Guthaben</strong> kannst Du Reichweite in den sozialen Medien erzielen.<br>
        <strong>Dreams Guthaben</strong> erreichst Du, wenn Du auf die Links von Dreambeem (Post) klickst oder Dreamshare (Post in den sozialen Medien) bestätigst.<br>
        Du erhälst <strong>drei Dreams Guthaben</strong> für einen Dreambeem und <strong>zwei Dreams Guthaben</strong> für einen bestätigten Dreamshare.<br><br>
    </p>
    <h4>
        <strong>
            6. Kann ich mit Dreambeem.com mein eigenes Lager erstellen?
        </strong>
    </h4>
    <p>
        Ja. Über den Menüpunkt "Portfolio" definierst Du Dein eigenes Lager.
    </p>
    <h4>
        <strong>
            7. Kann ich mit Dreambeem.com meine eigenen Preise definieren?
        </strong>
    </h4>
    <p>
        Ja. Über den Menüpunkt "Lager" definierst Du Deine eigenen Produktpreise, indem Du zuerst den Einkaufspreis holst und danach Deinen Preis festsetzst. Die Links kannst Du dann gewinnbringend in die sozialen Medien oder auf Dreambeem.com posten.
    </p>
    <h4>
        <strong>
            8. Wenn ich Einnahmen erzielt habe, wann und wie werde ich ausbezahlt?
        </strong>
    </h4>
    <p>
        Über den Menüpunkt "Auszahlungen" kannst Du festsetzen, wieviel Du ausgezahlt haben möchtest. Jeden 15. des Monats ist Zahltag.<br>
        Außerdem besteht die Möglichkeit per Kontaktformular Euro Guthaben ausbezahlen zu lassen, falls Dreambeem.com damit einverstanden ist.<br>
        Grundsätzlich steht einer vorzeitigen Ausbezahlung nichts im Wege!
    </p>
    <h4>
        <strong>
            9. Wo werden meine Verkäufe zurückverfolgt?
        </strong>
    </h4>
    <p>
        Über den Menüpunkt "Verkäufe" kannst Du Deine Verkäufe & Gewinne einsehen.
    </p>
    <h4>
        <strong>
            10. Wie zahle ich bei Dreambeem.com Geld ein um einzukaufen?
        </strong>
    </h4>
    <p>
        Nutze Paypal um Dein Konto aufzuladen. Einfach auf das Paypal - Logo klicken.
    </p>

</md-content>
