<md-dialog aria-label="Checkout nicht gelungen">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Kein Euro Guthaben</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="alertFalse24" aria-label="Dialog schliessen"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <p>Danke für Deinen Kauf, momentan hast Du kein Euro Guthaben, das Du einsetzen könntest. Bitte Konto aufladen.</p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel();">
                Ok
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>