<md-toast class="md-primary">
    <md-content ng-cloak>
        <div class="md-toast_content" ng-cloak>
            <h2 class="md-title">Speichern erfolgreich!</h2>
            <md-icon md-svg-src="alertOk24" class="material-icons md-24"></md-icon>
            <span class="md-toast-text" flex>Ihre Einstellungen wurden erfolgreich gespeichert!</span>

            <md-button ng-click="closeToast()" class="md-button md-raised md-primary">
                Schließen
            </md-button>
        </div>
    </md-content>
</md-toast>