<md-toast class="md-primary">
            <md-content flex ng-cloak>
                <div class="md-toast_content">
                <h2 class="md-title">Es ist ein Fehler aufgetreten!</h2>
                <md-icon md-svg-src="alertFalse24" class="material-icons md-24"></md-icon>
                <span class="md-toast-text" flex>Ihre Eingaben konnten nicht gespeichert werden!</span>

                <md-button ng-click="closeToast()" class="md-button md-raised md-primary">
                    Schließen
                </md-button>
        </div>
            </md-content>
</md-toast>