<md-toast class="md-primary">
    <md-content flex ng-cloak>
        <div class="md-toast_content">
            <h2 class="md-title">Liefer- bzw. Rechnungsadresse oder Email nicht eingetragen!</h2>
            <md-icon md-svg-src="alertFalse24" class="material-icons md-24"></md-icon>
            <span class="md-toast-text" flex>Du hast die Liefer- bzw. Rechnungsadresse oder Email nicht eingetragen! <a href="https://dreams.dreambeem.com/customer">Hier eintragen</a></span>

            <md-button ng-click="closeToast()" class="md-button md-raised md-primary">
                Schließen
            </md-button>
        </div>
    </md-content>
</md-toast>