<md-sidenav class="md-sidenav-left customermenu-nav-width customermenu-nav-height customermenu-nav-height" style="z-index: 10000; overflow: hidden;" md-component-id="MenuLeft"
            md-disable-backdrop md-whiteframe="4" ng-cloak>

    <md-toolbar style="padding-left: 16px" class="md-theme-indigo">
        <md-icon style="margin-top: 20px" md-svg-src="menu24" class="material-icons"></md-icon>
        <h1 class="md-toolbar-tools">Merchant Center</h1>
    </md-toolbar>

    <md-list class="md-padding">
        <md-list-item id="menu-list-item">
            <a href="https://dreams.dreambeem.com/customer">
                <md-icon class="pull-left" md-svg-src="customer24" class="material-icons md-48"></md-icon>
                    <span class="pull-left">
                        Dreamdaten
                    </span>
            </a>
        </md-list-item>
        <md-list-item id="menu-list-item">
            <a href="https://dreams.dreambeem.com/shop">
                <md-icon class="pull-left" md-svg-src="shopMain24" class="material-icons md-48"></md-icon>
                    <span class="pull-left">
                        Shop
                    </span>
            </a>
        </md-list-item>
        <md-list-item id="menu-list-item">
            <a href="https://dreams.dreambeem.com/lager">
                <md-icon class="pull-left" md-svg-src="lager24" class="material-icons md-48"></md-icon>
                    <span class="pull-left">
                        Lager
                    </span>
            </a>
        </md-list-item>
        <md-list-item id="menu-list-item">
            <a href="https://dreams.dreambeem.com/portfolio">
                <md-icon class="pull-left" md-svg-src="portfolio24" class="material-icons md-48"></md-icon>
                    <span class="pull-left">
                        Portfolio
                    </span>
            </a>
        </md-list-item>
        <md-list-item id="menu-list-item">
            <a href="https://dreams.dreambeem.com/sales">
                <md-icon class="pull-left" md-svg-src="sales24" class="material-icons md-48"></md-icon>
                    <span class="pull-left">
                        Verkäufe
                    </span>
            </a>
        </md-list-item>
        <md-list-item id="menu-list-item">
            <a href="https://dreams.dreambeem.com/purchases">
                <md-icon class="pull-left" md-svg-src="purchases24" class="material-icons md-48"></md-icon>
                    <span class="pull-left">
                        Käufe
                    </span>
            </a>
        </md-list-item>
        <md-list-item id="menu-list-item">
            <a href="https://dreams.dreambeem.com/booking">
                <md-icon class="pull-left" md-svg-src="booking24" class="material-icons md-48"></md-icon>
                    <span class="pull-left">
                        Buchen
                    </span>
            </a>
        </md-list-item>
        <md-list-item id="menu-list-item">
            <a href="https://dreams.dreambeem.com/bookings">
                <md-icon class="pull-left" md-svg-src="meeting24" class="material-icons md-48"></md-icon>
                    <span class="pull-left">
                        Buchungen
                    </span>
            </a>
        </md-list-item>
        <md-list-item id="menu-list-item">
            <a href="https://dreams.dreambeem.com/assessment">
                <md-icon class="pull-left" md-svg-src="assessment24" class="material-icons md-48"></md-icon>
                    <span class="pull-left">
                        Bewertungen
                    </span>
            </a>
        </md-list-item>
        <md-list-item id="menu-list-item">
            <a href="https://dreams.dreambeem.com/payoffs">
                <md-icon class="pull-left" md-svg-src="amount24" class="material-icons md-48"></md-icon>
                    <span class="pull-left">
                        Auszahlungen
                    </span>
            </a>
        </md-list-item>

        <md-button ng-click="toggleMenuLeft()" class="md-raised">
            Merchant Center schließen
        </md-button>
    </md-list>

</md-sidenav>